.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(60, 58, 59);
}

.board-wrapper {
  text-align: center;
}

.heading {
  color: whitesmoke;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.board-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

